.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "left right"
        ". .";
}
.right input {
    width: 66%;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 20px;
    margin: 0px auto;
}

th, td {
    
    font-family: Arial;
    padding: 0;
    width: 200px;
    height: 50px;
}
#formLeft #MovieForm {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}
#formLeft{
    text-align:right;
}

.header {
    max-height: 150px;
    display: inline-block;
    padding: 0.5rem;
    font-family: Arial;
    color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ".";
    grid-area: header;
    background-color: hotpink;
}



.left {
    text-align:left;
    grid-area: left;
}

.right {

    text-align: center;
    grid-area: right;
}

button {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}